.card:hover {
  transform: scale(1.05);
}

.card {
  transition: all 0.5s;
}

.td_selector.active{
    background-color: #fbfbfb;
}

.shareimg, .topimg{
    -webkit-filter: invert(20%);
    height: 30px;
    filter: brightness(0.9) invert(.35) sepia(.5) hue-rotate(180deg) saturate(2000%);
    transition:all 0.3s ease-in;
    color: black !important;



}
.shareimg:hover,.topimg:hover {
    filter: invert(0%);
    -webkit-filter: invert(0%);
    height: 30px;
    filter: brightness(0.9) invert(.20) sepia(.5) hue-rotate(180deg) saturate(2000%);
    transition:all 0.3s ease-in;
}

#map {
  min-height: 380px
}

.card-img-top {
  max-height:400px
}